<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <a href="javascript:home()" > Home</a>
        <a href=""> New Game</a>
        <a href="javascript:addplayer()">  Add player</a>
    </nav>
<div>
<h2>Enter players</h2>
<form action="" method="POST">
    {% csrf_token %}
    <h3>Winning Team</h3>
    <input type="text" name ="p1" placeholder="Player1" list="1">
    <input type="text" name ="p2" placeholder="Player2" list="1">
    <br><br>
    <h3>Loosing Team</h3> 
    <input type="text" name ="p3" placeholder="Player3" list="1">
    <input type="text" name ="p4" placeholder="Player4"list="1">
    <br>
    <button type="submit">Submit</button>
</form>
<datalist id="1">
{% for p in option%}
<option>{{p.Name}}</option>
{% endfor %}
</datalist>

<h3 class="error">{{alert}}<h3></h3>
</div>
{% load static%}
<script src="{% static 'java.js' %}"></script>
</body>
</html>